# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Virtualenv
env/
venv/
.env
.venv
ENV/
env.bak/
venv.bak/

# Django
*.log
staticfiles/
static/*
!static/.keep
media/
db.sqlite3
local_settings.py
.python-version

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Pycharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Local env files
*.env
.env.*
