{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}哈开 – Olympiads in Software Development{% endblock %}</title>
    
    <!-- Satoshi Variable font -->
    <link rel="preconnect" href="https://api.fontshare.com"/>
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1,400,500,700,900&display=swap" rel="stylesheet" />
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Lucide icons -->
    <script defer src="https://unpkg.com/lucide@latest"></script>
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html> 